:root {
    --slate: #434455;
    --navy-blue: #2e2f42;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
}

/*General styles*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: "roboto", "sans-serif";
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    color: var(--iris);
}

/*Studio Formatting*/

/* Header Styles*/
.top-line {
    border-bottom: 1px solid var(--cornflower);
    background: white;
    display: flex;
    flex-wrap: nowrap;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.header-logo-container {
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    padding-right: 76px;
    padding-left:0px;
}

.header-logo {
    color: var(--navy-blue);
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-header-menu {
    margin: 0px;
    padding-right: 332px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.main-header-menu-list-items {
    text-decoration: none;
    font-size: 16px;
    color: var(--navy-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.contact-header-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;

    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-header-menu-list-items {
    text-decoration: none;
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.main-header-menu-list-items:active,
.contact-header-menu-list-items:active {
    color: var(--ocean);
}

.main-header-menu-list-items:hover,
.contact-header-menu-list-items:hover .active {
    color: var(--ocean);
}

.active::after {
    content: "";
    display: block;
    height: 4px;
    border-radius: 2px;
    background: var(--ocean);
    position: relative;
    top: 20px;
}

.mobile-menu,
.mobile-modal {
    display: none;
}

/*section Styles*/

/*hero section*/
.hero-section {
    background: var(--navy-blue);
    background-image: url("../images/office.jpg");
    background-position: cover;
    background-size: 100% 139.922%;
    background-repeat: no-repeat;
    /*height: 600px;*/
    flex-shrink: 0;
    padding: 0;
    /*background: url(../images/office.jpg), lightgray 0px -167.766px / 100% 139.922% no-repeat;*/
}

.main-section {
    color: white;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    width: 496px;
    padding-top: 188px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.main-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 188px;
    background-color: rgba(46, 47, 66, 0.7);
}

.hero-button {
    font-size: 16px;
    font-family: inherit;
    background-color: var(--iris);
    text-decoration: none;
    text-align: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
}

.button:hover,
.button:focus {
    color: white;
    background-color: var(--ocean);
    box-shadow: 0px 4px 4px 0px;
}

.modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 4;
}

.modal {
    width: 408px;
    height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #fcfcfc;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-close {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower);
    width: 24px;
    height: 24px;
    color: var(--navy-blue);
    margin-left: 360px;
    margin-top: 24px;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
   .icon-close {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: absolute;
    right: 0px;
    top: 0px;
   }
.modal-close-btn:hover {
    fill: currentColor;
    border: 1px solid currentColor;
}

.modal_header {
    color: var(--navy-blue2);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.modal-body {
    padding-top: 24px;
}

.label-info {
    display: flex;
    padding-bottom: 5px;
}

.modal-form {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 16px 24px;
}

.form-control {
    outline: none;
    padding-left: 35px;
    width: 360px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-control:focus {
    border-color: var(--iris);
}

.form-control:active {
    border-color: var(--iris);
}

.form-control:hover {
    border-color: var(--iris);
}

.form-label {
    color: #8e8f99;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.48px;
    position: relative;
}

.icon-form {
    width: 18px;
    height: 18px;
    flex-shrink: 0;

    fill: var(--navy-blue);
    position: absolute;
    top: 50%;
    left: 8px;
    z-index: 4;
}

.v-line::after {
    content: "";
    display: inline-block;
    width: 1.25px;
    height: 18px;
    background-color: var(--navy-blue);
    margin-left: 0px;
    z-index: 2;
    position: absolute;
    left: 30px;
    top: 30px;
}

.form-label:hover .icon-form {
    fill: var(--iris);
}

.check-confirm {
    display: inline-block;
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.48px;
    position: relative;
    display: inline-block;
}

.form-confirm {
    display: flex;
    width: 360px;
    align-items: center;
    gap: 8px;
}

.text-comment {
    height: 120px;
    width: 360px;
    resize: none;
    padding: 15px;
}

.terms {
    color: var(--iris);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.button-send {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;

    display: inline-flex;
    padding: 16px 64px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 4px;
    background: var(--iris);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-send:hover,
.button-send:focus {
    border-color: var(--iris);
}

.send {
    display: flex;
    justify-content: center;
}

/*section one*/
.section-one {
    flex-shrink: 0;
    margin-top: 120px;
}

.section-one-list {
    display: flex;
    list-style: none;
    gap:24px;
}


.section-one-list-item-info {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    
}

.section-one-list-item-def {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    width: 264px;
}

.icon-list {
    border-radius: 4px;
    background: var(--cloud);
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    display: none;
}

.icon-section-one {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    padding: 0;
    margin: 24px 100px;
}

/*section-two*/
.section-two {
    flex-shrink: 0;
    margin-top: 120px;
}

.section-two-list {
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-two-info {
    text-align: center;
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-bottom: 72px;
    
}

/*section three*/
.section-three {
    background: var(--cloud);
    flex-shrink: 0;
    margin-top: 120px;
    margin-bottom: 120px;
    padding-bottom: 96px;
}

.section-three-list {
    justify-content: center;
    padding-top: 72px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
}

.section-three-info {
    
    text-align: center;
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;

}
.section-three-info-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.list-two {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    border-radius: 0px 0px 4px 4px;
    background: white;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-details {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 32px;
}

.section-three-list-item-name {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.section-three-list-item-title {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.icon {
    fill: white;
    text-decoration: none;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    position: absolute;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--iris);
}

.icon-ellipse {
    width: 40px;
    height: 40px;
    position: relative;
}

.icon-team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/*SECTION FOUR*/
.section-four {
    margin-bottom: 120px;
}

.section-four-info {
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
}

.section-four-items {
    padding-top: 72px;
    padding-bottom: 72px;
}

.section-four-items-list {
    height: 88px;
    flex-shrink: 0;
    list-style: none;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 16px 32px;
}

.section-four-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.icon-section-four {
    width: 104px;
    height: 56px;
    flex-shrink: 0;
    fill: #8e8f99;
}

.section-four-items-list:hover .icon-section-four,
.section-four-items-list:focus .icon-section-four {
    fill: var(--iris);
    transition: fill 0.3s;
    border-color: var(--iris);
}

.section-four-items-list:hover,
.section-four-items-list:focus {
    border-color: var(--iris);
    fill: var(--iris);
    transition: fill 0.3s;
}

/*footer*/
.footer {
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
    gap: 80px;
}

.footer-logo {
    color: white;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-info {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    width: 264px;
    padding-top: 18px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.footer-social {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.icon-footer {
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 17.5px;
}

.footer-subscribe {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 16px;
}

.footer-input {
    outline: none;
    width: 264px;
    height: 50px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: white;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0.48px;
    padding-left: 10px;
    margin-top: 24px;
    margin-left: 0;
}

#email-subs::placeholder {
    color: inherit;
}

.subscribe-button {
    border-radius: 4px;
    background: var(--iris);
    color: white;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 40px;

    margin-top: 30px;
}

.icon-footer-send {
    width: 24px;
    height: 24px;
    fill: white;
}

.icon-footer-svg {
    fill: white;
    text-decoration: none;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    position: absolute;
}

.icon-ellipse-footer {
    width: 40px;
    height: 40px;
    position: relative;
}

.icon-link:hover .icon-ellipse-footer {
    fill: #31d0aa;
    transition: fill 0.3s;
}

.icon-ellipse-footer:hover,
.icon-ellipse-footer:focus {
    fill: #31d0aa;
    transition: fill 0.3s;
}

/*end of Studio Formatting*/

/*Portfolio Formatting*/
.filter {
    background-color: white;
    padding-bottom: 72px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.filter-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    white-space: nowrap;
    align-items: flex-start;
    gap: 24px;
    margin-top: 100px;
    margin-bottom: 72px;   
}

.btn-filter {
    font-size: 16px;
    font-family: inherit;
    background-color: var(--cloud);
    text-align: center;
    color: var(--iris);
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    cursor: pointer;

    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
}

.btn-filter:hover,
.btn-filter:focus {
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px;
    color: white;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    flex-shrink: 0;
    list-style: none;
    overflow: hidden;

}

.cards {
    box-sizing: border-box;
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid var(--cornflower);
    background: white;
}

.cards-image {
    position: relative;
    overflow: hidden;
}

.cards-overlay {
    position: absolute;
    background-color: var(--iris);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    transform: translatey(100%);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--cloud);
    letter-spacing: 0.32px;
    text-align: justify;
    padding: 40px 32px 164px 32px;
}

.cards:hover .cards-overlay {
    opacity: 1;
    transform: translatey(0);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-info {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.project-cards-list {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}


/*.project-cards-item img {
    max-width: 100%;
    height: auto;
}*/

.project-cards-category {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

/*end of portfolio formatting*/

/*MEDIA QUERIES */

@media (max-width: 427px) {
    .section-one-list{
        padding: 0px;
        margin:0px;
        display: flex;
        justify-content: center;
    }
.section-four-items{
        flex-basis: calc(100% / 2 - 30px);
    }

}

@media (min-width: 428px) {
    .container {
        width: 428px;
    }
   
}

@media (max-width: 767px) {
    .top-line {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid var(--cornflower);
    }

    .mobile-menu-icon {
        width: 32px;
        height: 22px;
    }

    .mobile-menu-items {
        list-style: none;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .mobile-nav-menu {
        display: flex;
        flex-direction: column;
        gap: 284px;
        padding-top: 80px;
    }

    .mobile-menu-items-link:active,
    .mobile-contact-items-link:active .mobile-active {
        color: var(--ocean);
    }

    .mobile-active {
        color: var(--ocean);
    }

    .mobile-menu-items-link {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.12em;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-decoration: none;
    }

    .mobile-contact-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        list-style: none;
    }

    .mobile-contact-items-link {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.12em;
        letter-spacing: 0.72px;
        text-decoration: none;
    }

    .mobile-contact-link {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: 0.72px;
        text-decoration: none;
        color: var(--slate);
    }

    .mobile-modal.is-open {
        transform: translateX(0);
    }

    .mobile-close {
        height: 24px;
        width: 24px;
        flex-shrink: 0;
        color: var(--navy-blue);
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;

        margin-top: 8px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;

        position: absolute;
        right: 10px;
    }

    .icon-close-mobile {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        position: absolute;
        right:2px;
        top:0px;
    }

 
    .icon-team-mobile {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 56px;
        margin-top: 48px;
    }

    .mobile-menu-container {
        width: 428px;
        height: 100vh;
        flex-shrink: 0;
        z-index: 5;
    }

    .mobile-menu-icon {
        width: 32px;
        height: 22px;
        flex-shrink: 0;
    }

    .mobile-modal {
        top: 0;
        display: block;
        height: 796px;
        width: 100%;
        position: fixed;
        background-color: white;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

 
    .icon-mobile {
        fill: white;
        text-decoration: none;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        position: absolute;
    }

    .hero-section {
        background: var(--navy-blue);
        background-image: url("../images/office.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main-section {
        width: 320px;
        font-size: 36px;
    }

    .section-one {
        text-align: center; 
    }
    .section-one-list{
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
    .section-one-list-item-info {
     
        font-size: 36px;
        margin-bottom: 8px;
        text-align: center;
    
    }
   
    .section-one-list-item-def {
        margin-top: 0;
        text-align: left;
        width: 396px;
    }
  
    .icon-list {
        display: none;
    }

    .section-two {
        display: none;
    }

    .section-three {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .section-three-list {
        display: flex;
        gap: 72px;
    }

    .section-three-info {
        width: 165px;
        font-size: 36px;
        line-height: 1.12em;
        margin-top: 96px;
    }

    .section-four {
        display: block;
    }

    .section-four-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-subscribe {
        justify-content: center;
    }

    .footer-items {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }

    .main-header-menu {
        padding-right: 180px;
    }

    .contact-header-menu {
        gap: 10px;
    }

    .contact-header-menu-list-items {
        font-size: 12px;
        line-height: 1.67em;
        letter-spacing: 0.48px;
    }

    .hero-section {
        background: var(--navy-blue);
        background-image: url("../images/office.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .section-one-list {
        display: flex;
        justify-content: space-between; 
        margin: 0px;
        flex-wrap: wrap;
    }
    /*.list-container{
        display: flex;
        justify-content: center;
        gap:8px;
       
    }*/
    .section-one-list-item {
        flex-basis: calc(100% / 2 - 30px);
    }

    .section-one-list-item-info {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.12em;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .section-one-list-item-def {
        align-self: stretch;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.32px;
    }

    .section-two {
        display: none;
    }

    .section-three {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    footer {
        position: relative;
        height: 456px;
    }
    .project-cards-item {
        flex-basis: calc(100% / 2 - 30px);
        margin-bottom:56px;
    }
    .project-cards {
      justify-content: space-between;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .top-line {
        border-bottom: 1px solid var(--cornflower);
        background: white;
        display: flex;
        flex-wrap: nowrap;
        height: 72px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        }
    
    .header-logo-container {
        display: inline-flex;
        height: 24px;
        align-items: center;
        flex-shrink: 0;
        padding-right: 76px;
        padding-left: 0px;
        }
    
    .header-logo {
        color: var(--navy-blue);
        text-decoration: none;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.16em;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        }
    
    .main-header-menu {
            margin: 0px;
            padding-right: 332px;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 40px;
        }
    
    .main-header-menu-list-items {
            text-decoration: none;
            font-size: 16px;
            color: var(--navy-blue);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5em;
            letter-spacing: 0.32px;
        }
    
    .contact-header-menu {
            margin: 0px;
            padding: 0px;
            list-style: none;
    
            display: inline-flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 40px;
        }
    
    .contact-header-menu-list-items {
        text-decoration: none;
        color: var(--slate);
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0.32px;
        }
    .section-one-list{
        display: flex;
        justify-content: center;
        gap:24px;
        flex-wrap: nowrap;
    }
    .section-one-list-item {
        flex-basis: calc(100% / 4 - 30px);
    }

    .icon-list {
        display: block;
    }
    .main-section {
        font-size: 56px;
        font-weight: 700;
        text-align: center;
        width: 496px;
        padding-top: 188px;
            /*background-color: rgba(0, 0, 0, 0.5);*/
        }

    .section-one-list-item-info {
        color: var(--navy-blue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: 0.4px;
        }
    .list-container{
        gap:18px;
    }
    .section-one-list-item-def {
         width: 280px;
    }
    .section-two{
        display:block;
    }
    .section-four-items {
        flex-wrap: nowrap;
    }
    
    .project-cards-item{
        flex-basis: calc(100% / 3 - 30px);
    }
}